try:
        df = pd.read_csv('cadangan')
        df= df[['content', 'label']]
        bar_chart = pygal.Bar()
        bar_chart.title = 'Browser usage evolution (in %)'
        bar_chart.x_labels = map(str, range(2002, 2013))
        bar_chart.add('Firefox', [None, None, 0, 16.6,   25,   31, 36.4, 45.5, 46.3, 42.8, 37.1])
        bar_chart.add('Chrome',  [None, None, None, None, None, None,    0,  3.9, 10.8, 23.8, 35.3])
        bar_chart.add('IE',      [85.8, 84.6, 84.7, 74.5,   66, 58.6, 54.7, 44.8, 36.2, 26.6, 20.1])
        bar_chart.add('Others',  [14.2, 15.4, 15.3,  8.9,    9, 10.4,  8.9,  5.8,  6.7,  6.8,  7.5])
        barchart_data=bar_chart.render_data_uri()
        return render_template('profil.html',barchart_data=barchart_data)




    except Exception:
        return "error"


        try:

        df= pd.read_csv('df.csv')
        df = df[['content', 'sentimen']]
        series= df['sentimen'].value_counts()
        chart= pygal.Bar()
        chart_tittle = "Analisis Sentimen"
        chart.x_labels= series.index
        chart.add("Count", series.values)
        chart.render_data_uri()
        return render_template('profil.html',chart=chart)

    except Exception:
        return "error"
